
@font-face {font-family: "xiu-ico";
  src: url('iconfont.eot?t=1498458764616'); /* IE9*/
  src: url('iconfont.eot?t=1498458764616#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498458764616') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498458764616') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498458764616#xiu-ico') format('svg'); /* iOS 4.1- */
}

.xiu-ico {
  font-family:"xiu-ico" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xiu-ico-arr-down:before { content: "\e626"; }

.xiu-ico-arr-right:before { content: "\e627"; }

.xiu-ico-baidu:before { content: "\e628"; }

.xiu-ico-ball:before { content: "\e629"; }

.xiu-ico-arr-left:before { content: "\e62a"; }

.xiu-ico-arr-up:before { content: "\e62b"; }

.xiu-ico-clock:before { content: "\e62c"; }

.xiu-ico-emotion:before { content: "\e62d"; }

.xiu-ico-fans:before { content: "\e62e"; }

.xiu-ico-fullscreen:before { content: "\e62f"; }

.xiu-ico-home:before { content: "\e630"; }

.xiu-ico-clear:before { content: "\e631"; }

.xiu-ico-locked:before { content: "\e632"; }

.xiu-ico-join:before { content: "\e633"; }

.xiu-ico-logout:before { content: "\e634"; }

.xiu-ico-loud:before { content: "\e635"; }

.xiu-ico-liked:before { content: "\e636"; }

.xiu-ico-mic:before { content: "\e637"; }

.xiu-ico-nomic:before { content: "\e638"; }

.xiu-ico-mute:before { content: "\e639"; }

.xiu-ico-notice:before { content: "\e63a"; }

.xiu-ico-off:before { content: "\e63b"; }

.xiu-ico-nospeak:before { content: "\e63c"; }

.xiu-ico-nowifi:before { content: "\e63d"; }

.xiu-ico-pause:before { content: "\e63e"; }

.xiu-ico-online:before { content: "\e63f"; }

.xiu-ico-play:before { content: "\e640"; }

.xiu-ico-phone:before { content: "\e641"; }

.xiu-ico-qq:before { content: "\e642"; }

.xiu-ico-ques-:before { content: "\e643"; }

.xiu-ico-ques-1:before { content: "\e644"; }

.xiu-ico-rankcup:before { content: "\e645"; }

.xiu-ico-refresh:before { content: "\e646"; }

.xiu-ico-qzone:before { content: "\e647"; }

.xiu-ico-resting:before { content: "\e648"; }

.xiu-ico-search:before { content: "\e649"; }

.xiu-ico-share:before { content: "\e64a"; }

.xiu-ico-rocket:before { content: "\e64b"; }

.xiu-ico-setting-:before { content: "\e64c"; }

.xiu-ico-setting-1:before { content: "\e64d"; }

.xiu-ico-send:before { content: "\e64e"; }

.xiu-ico-square:before { content: "\e64f"; }

.xiu-ico-speak:before { content: "\e650"; }

.xiu-ico-sinaweibo:before { content: "\e651"; }

.xiu-ico-tecentweibo:before { content: "\e652"; }

.xiu-ico-unfullscreen:before { content: "\e653"; }

.xiu-ico-shop:before { content: "\e654"; }

.xiu-ico-user:before { content: "\e655"; }

.xiu-ico-warning:before { content: "\e656"; }

.xiu-ico-vol:before { content: "\e657"; }

.xiu-ico-wechat:before { content: "\e658"; }

.xiu-ico-unlocked:before { content: "\e659"; }

